<?xml version="1.0" encoding="UTF-8"?>
<!--
 /**
  * @category  Sailthru
  * @package   Sailthru_Email
  * @author    Kwadwo Juantuah <support@sailthru.com>
  */
-->
<config>
    <modules>
        <Sailthru_Email>
            <version>2.0.0</version>
        </Sailthru_Email>
    </modules>
    <global>
        <models>
           <sailthruemail>
                <class>Sailthru_Email_Model</class>
            </sailthruemail>
            <core>
                <rewrite>
                    <email_template>Sailthru_Email_Model_Email_Template</email_template>
                </rewrite>
            </core>
        </models>
        <blocks>
            <sailthruemail>
                <class>Sailthru_Email_Block</class>
            </sailthruemail>
        </blocks>
        <helpers>
            <sailthruemail>
                <class>Sailthru_Email_Helper</class>
            </sailthruemail>
        </helpers>
        <resources>
            <sailthru_email_setup>
                <setup>
                    <module>Sailthru_Email</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
            </sailthru_email_setup>
        </resources>
    </global>
    <frontend>
        <translate>
            <modules>
                <Sailthru_Email>
                    <files>
                        <default>Sailthru_Email.csv</default>
                    </files>
                </Sailthru_Email>
            </modules>
        </translate>
        <events>
            <customer_register_success>
                <observers>
                    <sailthru_register_success>
                        <model>sailthruemail/observer_user</model>
                        <method>registration</method>
                    </sailthru_register_success>
                </observers>
            </customer_register_success>
            <customer_login>
                <observers>
                    <sailthru_customer_login>
                        <type>singleton</type>
                        <model>sailthruemail/observer_user</model>
                        <method>login</method>
                    </sailthru_customer_login>
                </observers>
            </customer_login>
            <customer_save_before>
                <observers>
                    <sailthru_customer_save>
                        <type>singleton</type>
                        <model>sailthruemail/observer_user</model>
                        <method>update</method>
                    </sailthru_customer_save>
                </observers>
            </customer_save_before>
            <customer_logout>
                <observers>
                    <sailthru_customer_logout>
                        <type>singleton</type>
                        <model>sailthruemail/observer_user</model>
                        <method>logout</method>
                    </sailthru_customer_logout>
                </observers>
            </customer_logout>
            <checkout_cart_update_items_after>
                <observers>
                    <sailthru_checkout_cart_update_items_after>
                        <type>singleton</type>
                        <model>sailthruemail/observer_purchase</model>
                        <method>updateItemInCart</method>
                    </sailthru_checkout_cart_update_items_after>
                </observers>
            </checkout_cart_update_items_after>
            <sales_quote_remove_item>
                <observers>
                    <sailthru_sales_quote_remove_item>
                        <type>singleton</type>
                        <model>sailthruemail/observer_purchase</model>
                        <method>removeItemFromCart</method>
                    </sailthru_sales_quote_remove_item>
                </observers>
            </sales_quote_remove_item>
            <checkout_cart_save_after>
                <observers>
                    <sailthru_checkout_cart_save_after>
                        <class>Sailthru_Email_Model_Observer_Purchase</class>
                        <method>emptyCart</method>
                    </sailthru_checkout_cart_save_after>
                </observers>
            </checkout_cart_save_after>
            <checkout_cart_product_add_after>
                <observers>
                    <sailthru_checkout_cart_product_add_after>
                        <type>singleton</type>
                        <model>sailthruemail/observer_purchase</model>
                        <method>addItemToCart</method>
                    </sailthru_checkout_cart_product_add_after>
                </observers>
            </checkout_cart_product_add_after>
            <sales_order_place_after>
                <observers>
                    <sailthru_sales_order_place_after>
                        <model>sailthruemail/observer_purchase</model>
                        <method>placeOrder</method>
                    </sailthru_sales_order_place_after>
                </observers>
            </sales_order_place_after>
            <newsletter_subscriber_save_before>
                <observers>
                    <sailthru_newsletter_subscriber_save_before>
                        <model>sailthruemail/observer_user</model>
                        <method>subscription</method>
                    </sailthru_newsletter_subscriber_save_before>
                </observers>
            </newsletter_subscriber_save_before>
            <newsletter_subscriber_delete_after>
                <observers>
                    <sailthru_newsletter_subscriber_delete_after>
                        <model>sailthruemail/observer_user</model>
                        <method>subscription</method>
                    </sailthru_newsletter_subscriber_delete_after>
                </observers>
            </newsletter_subscriber_delete_after>
     </events>
        <routers>
        <sailthruemail>
            <use>standard</use>
            <args>
                <module>Sailthru_Email</module>
                <frontName>email</frontName>
            </args>
            </sailthruemail>
            <checkout>
                <args>
                    <modules>
                        <Sailthru_Email before="Mage_Checkout">Sailthru_Email</Sailthru_Email>
                    </modules>
                </args>
            </checkout>
        </routers>
        <layout>
            <updates>
                <sailthruemail>
                    <file>sailthru.xml</file>
                </sailthruemail>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <events>
             <catalog_product_delete_after>
                <observers>
                    <sailthru_catalog_product_delete_after>
                        <model>sailthruemail/observer_content</model>
                        <method>deleteProduct</method>
                    </sailthru_catalog_product_delete_after>
                </observers>
            </catalog_product_delete_after> 
            <catalog_product_save_after>
                <observers>
                    <sailthru_catalog_product_save_after>
                        <model>sailthruemail/observer_content</model>
                        <method>saveProduct</method>
                    </sailthru_catalog_product_save_after>
                </observers>
            </catalog_product_save_after>
        </events>
    </adminhtml>
   <admin>
        <routers>
            <sailthruemail>
                <use>admin</use>
                <args>
                    <module>Sailthru_Email</module>
                    <frontName>sailthruemail</frontName>
                </args>
            </sailthruemail>
        </routers>
    </admin>
    <default>
        <sailthru>
            <api>
                <uri><![CDATA[https://api.sailthru.com]]></uri>
            </api>
       </sailthru>
    </default>
</config>
