<?xml version="1.0" encoding="UTF-8"?>
<!--
 /**
  * @category  Sailthru
  * @package   Sailthru_Email
  * @author    Kwadwo Juantuah <support@sailthru.com>
  */
-->
<config>
    <tabs>
        <sailthruemail translate="label" module="sailthruemail">
            <label>Sailthru</label>
            <sort_order>350</sort_order>
        </sailthruemail>
    </tabs>
    <sections>
        <sailthru translate="label" module="sailthruemail">
            <class>separator-top</class>
            <label>Setup</label>
            <tab>sailthruemail</tab>
            <frontend_type>text</frontend_type>
            <sort_order>1</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <api translate="label">
                    <label>Sailthru API</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <comment><![CDATA[<a href="https://www.sailthru.com/getstarted" target="_blank">Signup for a Sailthru Account</a>]]>.  If you have any problems, you can check out our documentation <![CDATA[<a href="http://getstarted.sailthru.com/developers/client-libraries/magento-plugin" target="_blank">online</a>]]>. </comment>
                    <fields>
                        <enabled translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>
                        <key translate="label,comment">
                            <label>API Key</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Your Sailthru API Key can be found <![CDATA[<a href="https://my.sailthru.com/settings_api" target="_blank">here</a>]]> by clicking on the padlock next to "API Key and Secrets."</comment>
                        </key>
                        <secret translate="label,comment">
                            <label>API Secret</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Your Sailthru Secret can be found <![CDATA[<a href="https://my.sailthru.com/settings_api" target="_blank">here</a>]]> by clicking on the padlock.</comment>
                        </secret>
                        <uri translate="label,comment">
                            <label>API URI</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </uri>
                        <enable_logging translate="label,comment">
                            <label>Enable Diagnostic Logging</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Optional logging of API (var/log/sailthru.log)]]></comment>
                        </enable_logging>
                    </fields>
                </api>
                <js translate="label">
                    <label>Sailthru Javascript Deployment</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>4</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <js_select translate="label comment">
                            <label>Use Sailthru Javascript</label>
                            <comment>Deploy Sailthru Javascript on your Magento site. Use PersonalizeJS for latest features.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>Sailthru_Email_Model_Config_Source_Sailthrujs</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <sort_order>1</sort_order>
                        </js_select>
                        <horizon_domain translate="label">
                            <label>Horizon Domain</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><js_select>2</js_select></depends>
                        </horizon_domain>
                        <customer_id translate="label">
                            <label>Customer ID</label>
                            <comment>Used for PersonalizeJS. Can be found <![CDATA[<a href="https://my.sailthru.com/settings/api_postbacks" target="_blank">here</a>]]>.</comment>
                            <frontend_type>text</frontend_type>
                            <depends><js_select>1</js_select></depends>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <sort_order>2</sort_order>
                        </customer_id>
                    </fields>
                </js>
            </groups>
        </sailthru>
        <sailthru_transactional>
            <class>separator-top</class>
            <label>Transactionals</label>
            <tab>sailthruemail</tab>
            <frontend_type>text</frontend_type>
            <sort_order>2</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <email translate="label">
                    <label>Transactional</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>2</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enable_transactional_emails translate="label comment">
                            <label>Deliver Magento transactionals through Sailthru</label>
                            <comment>Let Sailthru delvier any mail coming from your Magento store, improving it's deliverability.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <sort_order>1</sort_order>
                        </enable_transactional_emails>
                        <sender>
                            <label>Magento Transactional Sender</label>
                            <comment>Sailthru-verified email address to use for emails sent from Magento.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>Sailthru_Email_Model_Config_Source_Verifiedemails</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <sort_order>2</sort_order>
                            <depends><enable_transactional_emails>1</enable_transactional_emails></depends>
                        </sender>
                        <use_purchase_template translate="label">
                            <label>Send a Sailthru-powered purchase receipt</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <sort_order>3</sort_order>
                        </use_purchase_template>
                        <purchase_template translate="label">
                            <label>Purchase Template</label>
                            <frontend_type>select</frontend_type>
                            <source_model>Sailthru_Email_Model_Config_Source_Sailthrutemplates</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><use_purchase_template>1</use_purchase_template></depends>
                            <sort_order>4</sort_order>
                        </purchase_template>
                    </fields>
                </email> 
                <abandoned_cart translate="label">
                    <label>Abandoned Cart</label>
                    <comment>Send emails automatically to logged-in customers with abandoned items in their cart.</comment>
                    <frontend_type>text</frontend_type>
                    <sort_order>2</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label comment">
                            <label>Enable Abandoned Cart Emails</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </enabled>
                        <template translate="label comment">
                            <label>Abandoned Cart Template</label>
                            <frontend_type>select</frontend_type>
                            <source_model>Sailthru_Email_Model_Config_Source_Sailthrutemplates</source_model>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Enter a name for your abandoned cart template.</comment>
                            <depends><enabled>1</enabled></depends>
                        </template>
                        <delay> translate="label comment">
                            <label>Abandoned Cart Delay Time</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>The delay in minutes before a reminder email is sent to a customer who abandoned their shopping cart.</comment>
                            <depends><enabled>1</enabled></depends>
                        </delay>
                    </fields>
                </abandoned_cart>
                <anonymous_cart translate="label">
                    <label>Anonymous Abandoned Cart</label>
                    <comment>Send an abandoned cart to users who are not logged-in, but have a valid Sailthru cookie.</comment>
                    <frontend_type>text</frontend_type>
                    <sort_order>3</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled>
                            <label>Enable</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <sort_order>1</sort_order>
                        </enabled>
                        <template>
                            <label>Template</label>
                            <comment>Can be the same as regular abandoned cart, or use a different template to use a different strategy.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>Sailthru_Email_Model_Config_Source_Sailthrutemplates</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><enabled>1</enabled></depends>
                            <sort_order>2</sort_order>
                        </template>
                        <reminder_time translate="label comment">
                            <label>Delay Time</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><enabled>1</enabled></depends>
                            <comment>The delay before a reminder email is sent to a customer who abandoned their shopping cart. Cam select unit (min, days).</comment>
                        </reminder_time>
                    </fields>
                </anonymous_cart>
            </groups>
        </sailthru_transactional>
        <sailthru_users>
            <class>separator-top</class>
            <label>Users</label>
            <tab>sailthruemail</tab>
            <frontend_type>text</frontend_type>
            <sort_order>3</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <management>
                    <label>Sailthru User Management</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <use_default_list translate="label comment">
                            <label>Add all users to a Sailthru list</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <comment>All users, regardless of subscription status, will be added to this list on login or registration</comment>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </use_default_list>
                        <default_list translate="label comment">
                            <label>Default Master List</label>
                            <frontend_type>select</frontend_type>
                            <source_model>Sailthru_Email_Model_Config_Source_Sailthrulists</source_model>
                            <depends><use_default_list>1</use_default_list></depends>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>The <![CDATA[<a href="http://getstarted.sailthru.com/documentation/lists" target="_blank">default master list</a>]]> that all subscribers and customers are added to.</comment>
                        </default_list>
                        <enable_newsletter_hook translate="label comment">
                            <label>Enable Newsletter Hook</label>
                            <comment>The Sailthru plugin can capture subscriptions to the Magento newsletter module, and reflect those users into a Sailthru list.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enable_newsletter_hook>
                        <newsletter_list translate="label comment">
                            <sort_order>4</sort_order>
                            <label>Newsletter Email List</label>
                            <frontend_type>select</frontend_type>
                            <source_model>Sailthru_Email_Model_Config_Source_Sailthrulists</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><enable_newsletter_hook>1</enable_newsletter_hook></depends>
                            <comment>The <![CDATA[<a href="http://getstarted.sailthru.com/documentation/lists" target="_blank">email list</a>]]> users are added to when they subscribe to the newsletter.</comment>
                        </newsletter_list>
                    </fields>
                </management>
            </groups>
        </sailthru_users>
        <sailthru_content>
            <label>Content</label>
            <tab>sailthruemail</tab>
            <frontend_type>text</frontend_type>
            <sort_order>4</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <sort_order>2</sort_order>
            <groups>
                <product_sync>
                    <label>Sailthru Content Management</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label comment">
                            <label>Enable update hooks to send content to Sailthru</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <comment>When items are updated in the backend, an update will be sent to Sailthru.</comment>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>
                        <master_products translate="label comment">
                            <label>Update Master Products</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <depends><enabled>1</enabled></depends>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Send simple products without parents, configurables, bundles, etc.</comment>
                        </master_products>
                        <variant_products translate="label comment">
                            <label>Update Variant Products</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <depends><enabled>1</enabled></depends>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Send simple products that do have parents. *Not Recommended*</comment>
                        </variant_products>
                    </fields>
                </product_sync>
                <product_tags>
                    <label>Product Tagging</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <sort_order>2</sort_order>
                    <fields>
                        <use_seo translate="label comment">
                            <label>Build product tags from SEO Keywords></label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </use_seo>
                        <use_categories>
                            <label>Build product tags from product categories</label>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <frontend_type>select</frontend_type>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </use_categories>
                        <use_attributes>
                            <label>Build product tags from product attributes</label>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <frontend_type>select</frontend_type>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </use_attributes>
                        <attributes>
                            <comment>
                                <![CDATA[
                                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
                                    <script type="text/javascript">
                                        jQuery.noConflict();
                                    </script>
                                    <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.6.2/chosen.jquery.min.js"></script>
                                    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.6.2/chosen.min.css" />
                                    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
                                    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
                                    <script>
                                        /*
                                        jQuery('select#sailthru_content_product_tags_attributes').chosen({
                                            placeholder_text_multiple: "Name, Color, etc."
                                        });
                                        */
                                    </script>
                                ]]>
                            </comment>
                            <label>
                                <![CDATA[
                                    Usable Product Attributes<br />
                                    <span style="font-size: 11px; font-style: italic;">Can select multiple / all</span>
                                ]]>
                            </label>
                            <depends><use_attributes>1</use_attributes></depends>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>Sailthru_Email_Model_Config_Source_Productattributes</source_model>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </attributes>
                    </fields>
                </product_tags>
            </groups>
        </sailthru_content>
    </sections>
</config>
