<?xml version="1.0" encoding="UTF-8"?>
<!--
 /**
  * @category  Sailthru
  * @package   Sailthru_Email
  * @author    Kwadwo Juantuah <support@sailthru.com>
  */
-->
<config>
    <tabs>
        <sailthruemail translate="label" module="sailthruemail">
            <label>Sailthru</label>
            <sort_order>350</sort_order>
        </sailthruemail>
    </tabs>
    <sections>
        <sailthru translate="label" module="sailthruemail">
            <class>separator-top</class>
            <label>Setup</label>
            <tab>sailthruemail</tab>
            <frontend_type>text</frontend_type>
            <sort_order>1</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <api translate="label">
                    <label>Sailthru API</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <comment><![CDATA[<a href="https://www.sailthru.com/getstarted" target="_blank">Signup for a Sailthru Account</a>]]>.  If you have any problems, you can check out our documentation <![CDATA[<a href="http://getstarted.sailthru.com/developers/client-libraries/magento-plugin" target="_blank">online</a>]]>. </comment>
                    <fields>
                        <enabled translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>
                        <key translate="label,comment">
                            <label>API Key</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Your Sailthru API Key can be found <![CDATA[<a href="https://my.sailthru.com/settings_api" target="_blank">here</a>]]> by clicking on the padlock next to "API Key and Secrets."</comment>
                        </key>
                        <secret translate="label,comment">
                            <label>API Secret</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Your Sailthru Secret can be found <![CDATA[<a href="https://my.sailthru.com/settings_api" target="_blank">here</a>]]> by clicking on the padlock.</comment>
                        </secret>
                        <uri translate="label,comment">
                            <label>API URI</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </uri>
                        <enable_logging translate="label,comment">
                            <label>Enable Diagnostic Logging</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Optional logging of API (var/log/sailthru.log)]]></comment>
                        </enable_logging>
                    </fields>
                </api>
                <js translate="label">
                    <label>Sailthru Javascript Deployment</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>4</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enable_transactional_emails translate="label comment">
                            <label>Deliver Magento transactionals through Sailthru</label>
                            <comment>Let Sailthru delvier any mail coming from your Magento store, improving it's deliverability.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <sort_order>1</sort_order>
                        </enable_transactional_emails>
                        <horizon_domain translate="label">
                            <label>Horizon Domain</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </horizon_domain>
                    </fields>
                </js>
            </groups>
        </sailthru>
        <sailthru_transactional>
            <class>separator-top</class>
            <label>Transactionals</label>
            <tab>sailthruemail</tab>
            <frontend_type>text</frontend_type>
            <sort_order>2</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <email translate="label">
                    <label>Email and Newsletters</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>2</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enable_transactional_emails translate="label comment">
                            <label>Deliver Magento transactionals through Sailthru</label>
                            <comment>Let Sailthru delvier any mail coming from your Magento store, improving it's deliverability.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <sort_order>1</sort_order>
                        </enable_transactional_emails>
                        <sender>
                            <label>Deliver Magento transactionals through Sailthru</label>
                            <comment>Let Sailthru delvier any mail coming from your Magento store, improving it's deliverability.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <sort_order>2</sort_order>
                            <depends><enable_transactional_emails>1</enable_transactional_emails></depends>
                        </sender>
                        <use_purchase_template translate="label">
                            <label>Send a Sailthru-powered purchase receipt</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <sort_order>3</sort_order>
                        </use_purchase_template>
                        <purchase_template translate="label">
                            <label>Purchase Template</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><use_purchase_template>1</use_purchase_template></depends>
                            <sort_order>4</sort_order>
                        </purchase_template>
                    </fields>
                </email> 
                <abandoned_cart translate="label">
                    <label>Abandoned Cart</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>2</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <abandoned_cart translate="label comment">
                            <label>Enable Abandoned Cart Emails</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <comment>Send emails automatically to logged-in customers with abandoned items in their cart.</comment>
                        </abandoned_cart>
                        <abandoned_cart_template translate="label comment">
                            <label>Abandoned Cart Template</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Enter a name for your abandoned cart template.</comment>
                            <depends><abandoned_cart>1</abandoned_cart></depends>
                        </abandoned_cart_template>
                        <reminder_time translate="label comment">
                            <label>Abandoned Cart Delay Time</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>The delay in minutes before a reminder email is sent to a customer who abandoned their shopping cart.</comment>
                            <depends><abandoned_cart>1</abandoned_cart></depends>
                        </reminder_time>
                    </fields>
                </abandoned_cart>
                <anonymous_cart translate="label">
                    <label>Anonymous Abandoned Cart</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>3</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled>
                            <label>Enable</label>
                            <comment>Send an abandoned cart to users who are not logged-in, but have a valid Sailthru cookie.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <sort_order>1</sort_order>
                        </enabled>
                        <template>
                            <label>Template</label>
                            <comment>Can be the same as regular abandoned cart, or use a different template to use a different strategy.</comment>
                            <frontend_type>text</frontend_type>
                            <!-- <source_model>adminhtml/system_config_source_yesno</source_model> -->
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><enabled>1</enabled></depends>
                            <sort_order>2</sort_order>
                        </template>
                        <reminder_time translate="label comment">
                            <label>Delay Time</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><enabled>1</enabled></depends>
                            <comment>The delay before a reminder email is sent to a customer who abandoned their shopping cart. Cam select unit (min, days).</comment>
                        </reminder_time>
                    </fields>
                </anonymous_cart>
            </groups>
        </sailthru_transactional>
        <sailthru_users>
            <class>separator-top</class>
            <label>Users</label>
            <tab>sailthruemail</tab>
            <frontend_type>text</frontend_type>
            <sort_order>3</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <management>
                    <label>Sailthru User Management</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <default_list translate="label comment">
                            <label>Default Master List</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>The <![CDATA[<a href="http://getstarted.sailthru.com/documentation/lists" target="_blank">default master list</a>]]> that all subscribers and customers are added to.</comment>
                        </default_list>
                        <newsletter_list translate="label comment">
                            <label>Newsletter Email List</label>
                            <frontend_type>text</frontend_type>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>The <![CDATA[<a href="http://getstarted.sailthru.com/documentation/lists" target="_blank">email list</a>]]> users are added to when they subscribe to the newsletter.</comment>
                        </newsletter_list>
                    </fields>
                </management>
            </groups>
        </sailthru_users>
    </sections>
</config>
