<?xml version="1.0" encoding="UTF-8"?>
<!--
 /**
  * @category  Sailthru
  * @package   Sailthru_Email
  * @author    Kwadwo Juantuah <support@sailthru.com>
  */
-->
<config>
    <modules>
        <Sailthru_Email>
            <version>1.2.0</version>
        </Sailthru_Email>
    </modules>
    <global>
        <models>
           <sailthruemail>
                <class>Sailthru_Email_Model</class>
                <resourceModel>sailthruemail_resource</resourceModel>
            </sailthruemail>
            <!--<sailthruemail_mysql4>
                <class>Sailthru_Email_Model_Mysql4</class>
                <entities>
                    <email_log><table>sailthruemail_email_log</table></email_log>
                </entities>
            </sailthruemail_mysql4>
            <newsletter>
                <rewrite>
                    <template>Sailthru_Email_Model_Newsletter_Template</template>
                </rewrite>
            </newsletter> -->
            <core>
                <rewrite>
                    <!--<email>Sailthru_Email_Model_Email</email>-->  <!--http://getstarted.sailthru.com/developers/smtp-auth-send-->
                    <email_template>Sailthru_Email_Model_Email_Template</email_template>
                </rewrite>
            </core>
        </models>
      <!--  <resources>
            <sailthruemail_setup>
                <setup>
                    <module>Sailthru_Email</module>
                    <class>Sailthru_Email_Model_Resource_Setup</class>
                </setup>
            </sailthruemail_setup>
        </resources> -->
        <blocks>
            <sailthruemail>
                <class>Sailthru_Email_Block</class>
            </sailthruemail>
        </blocks>
        <helpers>
            <sailthruemail>
                <class>Sailthru_Email_Helper</class>
            </sailthruemail>
        </helpers>
    </global>
    <frontend>
        <translate>
            <modules>
                <Sailthru_Email>
                    <files>
                        <default>Sailthru_Email.csv</default>
                    </files>
                </Sailthru_Email>
            </modules>
        </translate>
        <events>
            <customer_register_success>
                <observers>
                    <sailthru_register_success>
                        <class>Sailthru_Email_Model_Observer_User</class>
                        <method>registration</method>
                    </sailthru_register_success>
                </observers>
            </customer_register_success>
            <customer_login>
                <observers>
                    <sailthru_customer_login>
                        <type>singleton</type>
                        <class>Sailthru_Email_Model_Observer_User</class>
                        <method>login</method>
                    </sailthru_customer_login>
                </observers>
            </customer_login>
            <customer_logout>
                <observers>
                    <sailthru_customer_logout>
                        <type>singleton</type>
                        <class>Sailthru_Email_Model_Observer_User</class>
                        <method>logout</method>
                    </sailthru_customer_logout>
                </observers>
            </customer_logout>
            <checkout_cart_update_items_after>
                <observers>
                    <sailthru_checkout_cart_update_items_after>
                        <type>singleton</type>
                        <class>Sailthru_Email_Model_Observer_Purchase</class>
                        <method>updateItemInCart</method>
                    </sailthru_checkout_cart_update_items_after>
                </observers>
            </checkout_cart_update_items_after>
            <sales_quote_remove_item>
                <observers>
                    <sailthru_sales_quote_remove_item>
                        <type>singleton</type>
                        <class>Sailthru_Email_Model_Observer_Purchase</class>
                        <method>removeItemFromCart</method>
                    </sailthru_sales_quote_remove_item>
                </observers>
            </sales_quote_remove_item>
            <checkout_cart_product_add_after>
                <observers>
                    <sailthru_checkout_cart_product_add_after>
                        <type>singleton</type>
                        <class>Sailthru_Email_Model_Observer_Purchase</class>
                        <method>addItemToCart</method>
                    </sailthru_checkout_cart_product_add_after>
                </observers>
            </checkout_cart_product_add_after>
            <sales_order_place_after>
                <observers>
                    <sailthru_sales_order_place_after>
                        <class>Sailthru_Email_Model_Observer_Purchase</class>
                        <method>placeOrder</method>
                    </sailthru_sales_order_place_after>
                </observers>
            </sales_order_place_after>
            <!-- 
           
             <newsletter_subscriber_save_before>
                <observers>
                    <sailthru_newsletter_subscriber_save_before>
                        <class>Sailthru_Email_Model_Observer</class>
                        <method>subscriberHandler</method>
                    </sailthru_newsletter_subscriber_save_before>
                </observers>
            </newsletter_subscriber_save_before>
            <newsletter_subscriber_delete_after>
                <observers>
                    <sailthru_newsletter_subscriber_delete_after>
                        <class>Sailthru_Email_Model_Observer</class>
                        <method>subscriberHandler</method>
                    </sailthru_newsletter_subscriber_delete_after>
                </observers>
            </newsletter_subscriber_delete_after>
           
           
       

          
            <checkout_type_onepage_save_order>
                <observers>
                    <sailthru_checkout_type_onepage_save_order>
                        <type>singleton</type>
                        <class>Sailthru_Email_Model_Observer</class>
                        <method>pushIncompletePurchaseOrderToSailthru</method>
                    </sailthru_checkout_type_onepage_save_order>
                </observers>
            </checkout_type_onepage_save_order>
            <checkout_controller_onepage_save_shipping_method>
                <observers>
                    <sailthru_checkout_controller_onepage_save_shipping_method>
                        <type>singleton</type>
                        <class>Sailthru_Email_Model_Observer</class>
                        <method>pushIncompletePurchaseOrderToSailthru</method>
                    </sailthru_checkout_controller_onepage_save_shipping_method>
                </observers>
            </checkout_controller_onepage_save_shipping_method>
          <sales_quote_save_after>
                <observers>
                    <sailthru_sales_quote_save_after>
                        <class>Sailthru_Email_Model_Observer</class>
                        <method>pushIncompletePurchaseOrderToSailthru</method>
                    </sailthru_sales_quote_save_after>
                </observers>
            </sales_quote_save_after> 
            <checkout_quote_destroy>
                <observers>
                    <sailthru_checkout_quote_destroy>
                        <type>singleton</type>
                        <class>Sailthru_Email_Model_Observer</class>
                        <method>pushPurchaseOrderSuccessToSailthru2</method>
                    </sailthru_checkout_quote_destroy>
                </observers>
            </checkout_quote_destroy>
            <checkout_submit_all_after>
                <observers>
                    <sailthru_checkout_submit_all_after>
                        <class>Sailthru_Email_Model_Observer</class>
                        <method>pushPurchaseOrderSuccessToSailthru</method>
                    </sailthru_checkout_submit_all_after>
                </observers>
            </checkout_submit_all_after>-->
     </events>
        <layout>
            <updates>
                <sailthruemail>
                    <file>sailthru.xml</file>
                </sailthruemail>
            </updates>
        </layout>
        <routers>
            <sailthruemail>
                <use>standard</use>
                <args>
                    <module>Sailthru_Email</module>
                    <frontName>email</frontName>
                </args>
            </sailthruemail>
     <!--       <checkout>
                <args>
                    <modules>
                        <Sailthru_Email before="Mage_Checkout">Sailthru_Email</Sailthru_Email>
                    </modules>
                </args>
            </checkout>
            <customer>
                <args>
                    <modules>
                        <Sailthru_Email before="Mage_Customer">Sailthru_Email</Sailthru_Email>
                    </modules>
                </args>
            </customer> -->
            <newsletter>
                <args>
                    <modules>
                        <Sailthru_Email before="Mage_Newsletter">Sailthru_Email</Sailthru_Email>
                    </modules>
                </args>
            </newsletter>
        </routers>
    </frontend>
    <adminhtml>
        <events>
            <!-- 
             <catalog_product_delete_after>
                <observers>
                    <sailthru_catalog_product_delete_after>
                        <class>Sailthru_Email_Model_Observer</class>
                        <method>deleteProduct</method>
                    </sailthru_catalog_product_delete_after>
                </observers>
            </catalog_product_delete_after> 
            <catalog_product_save_after>
                <observers>
                    <sales_quote>
                        <class>Sailthru_Email_Model_Observer</class>
                        <method>saveProduct</method>
                    </sales_quote>
                </observers>
            </catalog_product_save_after>
            <catalog_product_status_update>
                <observers>
                    <sales_quote>
                        <class>Sailthru_Email_Model_Observer</class>
                        <method>saveProduct</method>
                    </sales_quote>
                </observers>
            </catalog_product_status_update> 
            -->
        </events>
    </adminhtml>
   <admin>
        <routers>
            <sailthruemail>
                <use>admin</use>
                <args>
                    <module>Sailthru_Email</module>
                    <frontName>sailthruemail</frontName>
                </args>
            </sailthruemail>
        </routers>
    </admin>
    <default>
        <sailthru>
            <api>
                <uri><![CDATA[https://api.sailthru.com]]></uri>
            </api>
       </sailthru>
    </default>
</config>
