<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Sailthru_Email>
            <version>0.1.0</version>
        </Sailthru_Email>
    </modules>
    <global>
        <models>
            <email>
                <class>Sailthru_Email_Model</class>
            </email>
            <checkout>
                <rewrite>
                    <cart>Sailthru_Email_Model_Cart</cart>
                </rewrite>
            </checkout>
            <core>
                <rewrite>
                    <email_template>Sailthru_Email_Model_Email_Template</email_template>
                </rewrite>
            </core>
        </models>
        <blocks>
            <email>
                <class>Sailthru_Email_Block</class>
            </email>
            <catalog>
                <rewrite>
                    <product_view>Sailthru_Email_Block_Catalog_Product_View</product_view>
                </rewrite>
            </catalog>
            <page>
                <rewrite>
                    <html_head>Sailthru_Email_Block_Page_Html_Head</html_head>
                </rewrite>
            </page>
        </blocks>
        <helpers>
            <email>
                <class>Sailthru_Email_Helper</class>
            </email>
        </helpers>
    </global>
    <frontend>
        <routers>
            <email>
                <use>standard</use>
                <args>
                    <module>Sailthru_Email</module>
                    <frontName>email</frontName>
                </args>
            </email>
            <checkout>
                <args>
                    <modules>
                        <Sailthru_Email before="Mage_Checkout">Sailthru_Email</Sailthru_Email>
                    </modules>
                </args>
            </checkout>
            <customer>
                <args>
                    <modules>
                        <Sailthru_Email before="Mage_Customer">Sailthru_Email</Sailthru_Email>
                    </modules>
                </args>
            </customer>
            <newsletter>
                <args>
                    <modules>
                        <Sailthru_Email before="Mage_Newsletter">Sailthru_Email</Sailthru_Email>
                    </modules>
                </args>
            </newsletter>
        </routers>
    </frontend>
    <admin>
        <routers>
            <email>
                <use>admin</use>
                <args>
                    <module>Sailthru_Email</module>
                    <frontName>email</frontName>
                </args>
            </email>
        </routers>
    </admin>
</config>
