<?xml version="1.0" encoding="UTF-8"?>
<config>
    <tabs>
        <sailthruconfig translate="label" module="email">
            <label>Sailthru</label>
            <sort_order>350</sort_order>
        </sailthruconfig>
    </tabs>
    <sections>
        <sailthru_options translate="label" module="email">
            <label>Settings</label>
            <tab>sailthruconfig</tab>
            <frontend_type>text</frontend_type>
            <sort_order>1</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <api translate="label">
                    <label>API</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <comment><![CDATA[<a href="https://www.sailthru.com/getstarted">Signup for a Sailthru Account</a>]]></comment>
                    <fields>
                        <sailthru_api_key translate="label">
                            <label>API Key</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Your Sailthru API key can be found on your<a href="https://my.sailthru.com/settings_api" target="_blank">Sailthru Settings page</a>, click the padlock next to "API Key and Secrets."]]></comment>
                        </sailthru_api_key>
                        <sailthru_api_secret translate="label">
                            <label>API Secret</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Your Sailthru API secret can be found on your<a href="https://my.sailthru.com/settings_api" target="_blank">Sailthru Settings page</a>, click the padlock next to "API Key and Secrets."]]></comment>
                        </sailthru_api_secret>
                    </fields>
                </api>
                <email translate="label">
                    <label>Email</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>2</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <sailthru_def_list translate="label">
                            <label>Default Email List</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>The <![CDATA[<a href="https://my.sailthru.com/lists">email list</a>]]> users are added to when they register.</comment>
                        </sailthru_def_list>
                        <sailthru_news_list translate="label">
                            <label>Newsletter Email List</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>The <![CDATA[<a href="https://my.sailthru.com/lists">email list</a>]]> users are added to when they subscribe to the newsletter.</comment>
                        </sailthru_news_list>
                        <sailthru_sender_email translate="label">
                            <label>Admin Email Address</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>The email address used for customer service. This must be a verified email in Sailthru.</comment>
                        </sailthru_sender_email>
                    </fields>
                </email>
                <horizon translate="label">
                    <label>Horizon</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>4</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <comment><![CDATA[Complete the first three steps of <a href="http://getstarted.sailthru.com/documentation/products/horizon/horizon-data-collection-setup" target="_blank">this page</a> and fill out the "Horizon Domain" field below to complete Horizon setup]]></comment>
                    <fields>
                        <sailthru_horizon_domain translate="label">
                                <label>Horizon Domain</label>
                                <frontend_type>text</frontend_type>
                                <sort_order>1</sort_order>
                                <show_in_default>1</show_in_default>
                                <show_in_website>1</show_in_website>
                                <show_in_store>1</show_in_store>
                        </sailthru_horizon_domain>
                        <sailthru_concierge_enabled translate="label">
                                <label>Enable Concierge</label>
                                <frontend_type>select</frontend_type>
                                <sort_order>2</sort_order>
                                <show_in_default>1</show_in_default>
                                <show_in_website>1</show_in_website>
                                <show_in_store>1</show_in_store>
                                <source_model>adminhtml/system_config_source_yesno</source_model>
                        </sailthru_concierge_enabled>
                    </fields>
                </horizon>
                <shopping_cart translate="label">
                    <label>Shopping Cart</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>3</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <sailthru_reminder_time translate="label">
                            <label>Shopping Cart Reminder Time</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>The delay in minutes before a reminder email is sent to a customer who abandoned their shopping cart.</comment>
                        </sailthru_reminder_time>
                    </fields>
                </shopping_cart>
            </groups>
        </sailthru_options>
    </sections>
</config>
